.container{
  display: flex;
  width: 95vw;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  flex-wrap:wrap;
}




.left_Portion{
  max-width: 210px;
  margin-left: 20px;
}

.left_Portion img{
  width: 210px;
  height: 250px;
  border-radius: 10px;
}

.left_Portion p{
  color: #586069;
}

.left_Portion .name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line{
  border: 0.5px solid #d1d5da;
  width: 210px;
  margin-top: 4px; 
}

.left_Portion .follow{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  height: 20px;
  font-weight: bold;
  border: 0.5px solid #d1d5da;
}

.left_Portion .info{
  margin-top:10px;
  font-size: 10px;
  color: #24292e;

}

.left_Portion .target{
   display: flex;
   height: 28px;
   align-items: center;
}

.left_Portion .target img{
  width: 15px;
  margin-right: 10px;
}

.left_Portion .target p{
  font-size:12px;
  color:#24292e;
}

.left_Portion .location{
   display: flex;
   height: 28px;
   align-items: center;
}

.left_Portion .location img{
  width: 15px;
  margin-right: 10px;
}

.left_Portion .location p{
  font-size:12px;
  color:#24292e;
}

.left_Portion .email{
   display: flex;
   height: 28px;
   align-items: center;
}

.left_Portion .email img{
  width: 15px;
  margin-right: 10px;
}

.left_Portion .email p{
  font-size:12px;
  color:blue;
}

.left_Portion .block{
  font-size: 15px;
}




.right_Portion{
  width: 75%;
  margin:0 auto;
  margin-top: 25px;
}

.right_Portion .header{
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.right_Portion .header p{
  font-size: 13px;
  font-weight: bold;
}

.right_Portion .line{
  border: 1px solid #e36209;
  width: 62px;
  margin-top:10px;
}

.right_Portion .popular{
  font-size:15px;
  margin-top: 10px;
}

.right_Portion .row{
   display: flex;
   margin-top: 10px;
}

.right_Portion .row .heading{
  color: blue;
  padding-left:8px;
  padding-top: 8px
}

.right_Portion .row .text{
  font-size:10px;
  padding: 10px;
}

.right_Portion .circle{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: yellow;
  margin-left:5px;
  margin-right:5px;
}

.right_Portion .circle_purple{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: purple;
  margin-left:5px;
  margin-right:5px;
}

.right_Portion .footer{
  display: flex;
  margin-top:10px;
}

.right_Portion .footer img{
  width: 13px;
  margin-left: 10px;
}

.right_Portion .footer p{
  font-size: 11px;
}

.right_Portion .box1{
  border: 1px solid #d1d5da;
  width:50%;
  height: 100px;
  margin-right: 10px;
}

.right_Portion .box2{
  border: 1px solid #d1d5da;
  width:50%;
  height:100px;
}

.right_Portion .contributions{
  font-size: 13px;
  margin-top: 15px;
}


@media only screen and (max-width:900px){
   .left_Portion{
     margin: 0 auto;
   }

   .right_Portion .header{
     margin: 0 auto;
   }
   .right_Portion .popular{
     padding-left: 45px;
   }
   .right_Portion .line{
     display: none;
   }
   .right_Portion .row{
     display:block;
   }
   .right_Portion .row .heading{
     text-align: center;
   }
   .right_Portion .row .text{
     text-align: center;
   }
   .right_Portion .row .footer{
     justify-content: center;
   }
   .right_Portion .box1{
     width: 100%;
   }
   .right_Portion .box2{
     width: 100%;
  }
  .right_Portion .contributions{
    display: flex;
    justify-content: center;
  }
}